### istatistik çalışmaları

In [2]:
import numpy as np
populasyon = np.random.randint(0,80,10000)

In [3]:
populasyon[0:10]

array([72, 70, 33, 51, 70, 16, 17, 30, 56, 14])

In [4]:
#orneklem cekme
np.random.seed(115)
orneklem = np.random.choice(a = populasyon ,size = 100)
orneklem[0:10]

array([62, 25,  1, 73, 36, 21, 42, 75, 70, 44])

In [5]:
orneklem.mean()

42.65

In [6]:
populasyon.mean()

39.5662

In [9]:
#orneklem dagılımı 
np.random.seed(10)
orneklem1 = np.random.choice(a = populasyon ,size = 100)
orneklem2 = np.random.choice(a = populasyon ,size = 100)
orneklem3 = np.random.choice(a = populasyon ,size = 100)
orneklem4 = np.random.choice(a = populasyon ,size = 100)
orneklem5 = np.random.choice(a = populasyon ,size = 100)
orneklem6 = np.random.choice(a = populasyon ,size = 100)
orneklem7 = np.random.choice(a = populasyon ,size = 100)
orneklem8 = np.random.choice(a = populasyon ,size = 100)
orneklem9 = np.random.choice(a = populasyon ,size = 100)
orneklem10 = np.random.choice(a = populasyon ,size = 100)

In [11]:
(orneklem1.mean() + orneklem2.mean() + orneklem3.mean() + orneklem4.mean() + 
orneklem5.mean() + orneklem6.mean() + orneklem7.mean() + orneklem8.mean() +  
orneklem9.mean() + orneklem10.mean() ) / 10

37.01199999999999

### Betimsel İstatistikler

In [12]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [15]:
!pip install researchpy
import researchpy as rp

Collecting researchpy
  Downloading researchpy-0.2.3-py3-none-any.whl (10 kB)
Requirement already satisfied: scipy in c:\users\msi-nb\anaconda3\lib\site-packages (from researchpy) (1.5.2)
Requirement already satisfied: pandas in c:\users\msi-nb\anaconda3\lib\site-packages (from researchpy) (1.1.3)
Requirement already satisfied: statsmodels in c:\users\msi-nb\anaconda3\lib\site-packages (from researchpy) (0.12.0)
Requirement already satisfied: numpy in c:\users\msi-nb\anaconda3\lib\site-packages (from researchpy) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\msi-nb\anaconda3\lib\site-packages (from pandas->researchpy) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\msi-nb\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: patsy>=0.5 in c:\users\msi-nb\anaconda3\lib\site-packages (from statsmodels->researchpy) (0.5.1)
Requirement already satisfied: six>=1.5 in c:\users\msi-nb\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->researchpy) (1.15.0)
Installing collected packages: researchpy
Successfully installed researchpy-0.2.3

In [17]:
rp.summary_cont(df[["total_bill", "tip" , "size"]])

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [19]:
rp.summary_cat(df[["sex" , "smoker" , "day"]])

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [20]:
df[["tip" ,"total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [22]:
df[["tip" , "total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

In [1]:
#Confidence interval örnek
import numpy as np 
fiyatlar = np.random.randint(10,110 , 1000)

In [2]:
fiyatlar.mean()

59.521

In [3]:
import statsmodels.stats.api as sms

In [4]:
sms.DescrStatsW(fiyatlar).tconfint_mean()

(57.77319934245869, 61.26880065754131)

 ### bernoulli distribution

In [1]:
from scipy.stats import bernoulli

In [2]:
p = 0.6

In [4]:
rv = bernoulli(p)
rv.pmf(k = 1)
#k = 1 tura olması durumu k = 0 yazı olması durumu 1-p

0.6

### Büyük Sayılar Yasası

In [8]:
import numpy as np 
rng = np.random.RandomState(123)
for i in np.arange(1,21):
    deney_sayisi = 2**i
    yazi_turalar = rng.randint(0,2,size=deney_sayisi)
    yazi_olasiliklari = np.mean(yazi_turalar)
    print("Atış Sayısı" , deney_sayisi,
         "---" , 'Yazı Olasılığı: %.2f' % (yazi_olasiliklari *100 ))

Atış Sayısı 2 --- Yazı Olasılığı: 50.00
Atış Sayısı 4 --- Yazı Olasılığı: 0.00
Atış Sayısı 8 --- Yazı Olasılığı: 62.50
Atış Sayısı 16 --- Yazı Olasılığı: 43.75
Atış Sayısı 32 --- Yazı Olasılığı: 46.88
Atış Sayısı 64 --- Yazı Olasılığı: 56.25
Atış Sayısı 128 --- Yazı Olasılığı: 50.78
Atış Sayısı 256 --- Yazı Olasılığı: 52.73
Atış Sayısı 512 --- Yazı Olasılığı: 52.93
Atış Sayısı 1024 --- Yazı Olasılığı: 50.20
Atış Sayısı 2048 --- Yazı Olasılığı: 48.58
Atış Sayısı 4096 --- Yazı Olasılığı: 49.49
Atış Sayısı 8192 --- Yazı Olasılığı: 49.58
Atış Sayısı 16384 --- Yazı Olasılığı: 49.96
Atış Sayısı 32768 --- Yazı Olasılığı: 50.00
Atış Sayısı 65536 --- Yazı Olasılığı: 49.68
Atış Sayısı 131072 --- Yazı Olasılığı: 49.97
Atış Sayısı 262144 --- Yazı Olasılığı: 50.13
Atış Sayısı 524288 --- Yazı Olasılığı: 50.01
Atış Sayısı 1048576 --- Yazı Olasılığı: 50.09

In [1]:
from scipy.stats import binom

In [2]:
p  = 0.01
n = 100
rv = binom(n,p)
print(rv.pmf(1))
print(rv.pmf(5))
print(rv.pmf(10))

0.36972963764971983
0.0028977871237616114
7.006035693977161e-08

In [4]:
#Poisson Dağılımı 
from scipy.stats import poisson 
lambda_ = 0.1
rv = poisson(mu=lambda_)
print(rv.pmf(k=0))
#hiç hata olmaması olasılıgı

0.9048374180359595

### Normal Dağılım

In [5]:
from scipy.stats import norm

In [6]:
1-norm.cdf(90,80,5)
#90dan fazla olması p , mean , standard dev

0.02275013194817921

In [7]:
1-norm.cdf(70,80,5)
#70ten fazla olması , mean,stand.dev

0.9772498680518208

In [8]:
norm.cdf(73,80,5)
#73ten az olması olasılıgı

0.08075665923377107

In [9]:
#85k ile 90k arasında olması
norm.cdf(90,80,5) - norm.cdf(85,80,5)

0.13590512198327787